= simple_form_for @event_post do |f|
  = f.input :title
  = f.input :place
  = f.input :start_date
  = f.input :start_time
  = f.input :end_date
  = f.input :end_time
  = f.input :address
  = f.input :city
  = f.input :state
  = f.input :zip_code
  = f.input :description
  = f.input :event_contact_number
  = f.input :event_contact_email_address
  = f.input :event_link
  = f.submit
