#event_posts
  - @event_posts.each do |event_post|
    .event_post
      %h2= event_post.title
      %h3= event_post.place
      %p.date= "Start Date #{event_post.start_date} and End Date: #{event_post.end_date}"
      %p= "Start time: #{event_post.start_time} and End time: #{event_post.end_time}"
      %h3= "Description"
      %p= event_post.description
      %p
      Submitted on
      = "#{event_post.created_at} by #{event_post.user.email}"
