%h1= @event_post.title
%p= image_tag @event_post.image.url (:medium)
%p= "Start date and time: #{@event_post.start_date} and #{@event_post.start_time}"
%p= "End date and time: #{@event_post.end_date} and #{@event_post.end_time}"
%p= "Location/Place: #{@event_post.place}"
%p= "Address: #{@event_post.address} , #{@event_post.city}  #{@event_post.state} #{@event_post.zip_code}"
%p= @event_post.description
%p=  "Number: #{@event_post.event_contact_number}"
%p= "Contact email: #{@event_post.event_contact_email_address}"
%p= "Website: #{@event_post.event_link}"

= link_to "Edit", edit_event_post_path(@event_post)
= link_to "Delete", event_post_path(@event_post), method: :delete, data: { confirm: "Are you sure you want to delete?"}
= link_to "Home", root_path
